*{
	margin: 0;
	padding: 0;
	box-sizing: border-boxï¼›
}
body{
	background-color:#f7f7f7;
	font-size: 0.8em;
	font-family: "Microsoft Yahei",Tahoma, Simsun, sans-serif;
	color:#292f36;
	
}
.navigation {
    box-sizing: border-box;
    background-color:#292f36;
    overflow: auto;
    padding: 18px 50px;
    
    top: 0;
    width: 100%;
	z-index: 999;
	
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
  }
  
  .active {
    color: #88CCF1;
  }
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.box1{
	background: #fff;
}
.info{
	width:800px;
	margin: 0 auto;
	padding: 80px 0;
}
.info p{
	margin: 10px 0px 10px 0px;
}
.box1 .link{
	margin-top:20px;	
}
.info h1{
font-weight: 400px;	
}
.link img{
	width: 40px;
	margin-right: 10px;
}
.link img:hover{
	opacity: 0.5;
}



.brosers ul li img{
	width: 20px;
	vertical-align: bottom;
}

.links li img{
	width: 20px;
	vertical-align: bottom;
}
.links li img:hover{
	opacity: 0.5;
}
.box{
	width:800px;
	display:flex;
	margin:0 auto;
	padding:70px 0;
	justify-content: space-between;
}
.box h2{
	font-size:1.2em;
	font-weight:bold;
	margin-bottom: 20px;
}
.box li{
	margin:20px 0;
}

.project-warp{
	width: 800px;
	margin: 0 auto;
}
.project-warph2{
	margin-bottom: 20px;
}
.projects{
	width: 800px;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}

.project{
	width: 360px;
	padding:15px;
	margin-bottom: 50px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 5px rgba(0,0,0,0.07);
	border-radius:5px;
}
.project h3 {
	font-weight: bold;
	font-size:1.2em;
	margin:20px 0;
	
}

.project p{
	margin-bottom:20px;
	font-weight: 200px;
}
.project span{
	font-weight: 200px;
	margin-right: 15px;
}

.green{
	color:green;
}
.gold{
	color:gold;
}
.a276meIMG {
	border-radius: 100%;
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 auto;
}
h1 {
	font-size: 30px;
}
.member {
	width: 60%;
	height: 60%;
	margin: 0 40% 0 20% ;
	text-align: center;
}